<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Staff</title>
    <link rel="stylesheet" href="../styling/main.css" />
  </head>
  <body>
    <div class="staff" id="staff">
      <h1>Our Staff</h1>
      <div class="staff__wrapper">
        <div class="staff__card">
          <h2>Chad Thomas</h2>
          <p>
            Registered Nurse in the Emergency Department of Jefferson Main
            Campus.
          </p>
          <!-- <div class="services__btn"><button>Get Started</button></div> -->
        </div>
        <div class="staff__card">
          <h2>Anjali Upadhyaya</h2>
          <p>
            Medical Student with a Bachelors degree in Computational and Systems
            Biology
          </p>
          <!-- <div class="services__btn"><button>Get Started</button></div> -->
        </div>
        <div class="staff__card">
          <h2>Justin Williams</h2>
          <p>
            Medical Student with an Undergraduate Degree in Computational
            Biology
          </p>
          <!-- <div class="services__btn"><button>Get Started</button></div> -->
        </div>
        <div class="staff__card">
          <div class="staff__img--container">
            <div class="staff__img--card"></div>
          </div>
          <h2>Liam Mackay</h2>
          <p>
            Sophomore Mathematics and Computer Science major at Temple
            University
          </p>
          <!-- <div class="services__btn"><button>Get Started</button></div> -->
        </div>
      </div>
    </div>
  </body>
</html>
