<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Survey</title>
  </head>
  <form action="https://em-urgent.herokuapp.com/forms/results" method="post">
    <p>Are these symptoms you would normally feel comfortable addressing with a primary care doctor?</p>
    <div>
      <input type="radio" id="contactChoice1"
       name="primary_care" value="yes">
      <label for="contactChoice1">Yes</label>
  
      <input type="radio" id="contactChoice2"
       name="primary_care" value="no">
      <label for="contactChoice2">No</label>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</html>
